.admissionSection {
  padding: 2% 4%;
}

.short-info-box {
  background: rgba(0, 32, 91, 0.15);
  opacity: 0.8;
  border: 1px solid #ffd900;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  padding: 3%;
  margin-bottom: 3%;
}

.admission-hedline {
  text-align: center;
  font-family: "Domine";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 32px;
  letter-spacing: 0.08em;
  margin-bottom: 2%;
  color: black;
}

.admissionPera {
  font-family: "Domine";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-bottom: 2%;
}

.admission-col-1 {
  padding: 2% 1%;
  padding-right: 4%;
  border: white solid 3px;
  border-left: 0px;
}

.admission-col-2 {
  padding: 2% 1%;
  padding-left: 4%;
  border: white solid 3px;
  border-right: 0px;
}

.admission-hedline-2 {
  font-family: "Domine";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 32px;
  letter-spacing: 0.08em;
  margin-bottom: 2%;
  color: black;
}

.admissionDownload {
  color: blue;
}

.admission-section-2 {
  padding: 0% 4%;
}

.admissionTable {
  text-align: center;
  margin-bottom: 3%;
}

.admissionLastSection {
  background: rgba(0, 32, 91, 0.15);
  opacity: 0.8;
  border: 0.5px solid rgba(0, 32, 91, 0.2);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  padding: 3%;
  border-radius: 5px;
  text-align: center;
  width: auto;
  height: auto;
}

.admissionLastSection2 {
  background: rgba(0, 32, 91, 0.15);
  opacity: 0.8;
  border: 0.5px solid rgba(0, 32, 91, 0.2);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  padding: 3%;
  border-radius: 5px;
  text-align: start;
  width: auto;
  height: auto;
}

.admissionCards {
  background: #ffffff;
  border: 1px solid #ffd900;
  border-radius: 10px;
  margin: 1%;
  padding: 2%;
  width: 48%;
}

.admission-col-3 {
  padding: 1%;
  padding-right: 4%;
  border: white solid 3px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.admission-col-4 {
  padding: 1%;
  padding-left: 4%;
  border: white solid 3px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.bds-section2 {
  background: #ffffff;
  border: 1px solid #ffd900;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 2%;
  margin-top: 2% !important;
  max-width: fit-content;
  margin: auto;
  display: block ;
  text-align: center;
}

@media only screen and (max-width: 767px){

  .admissionCards{
    margin: 0%;
    margin-bottom: 3%;
  }

  .admissionLastSection{
    padding: 3% !important;
  }
}