.dentistOne {
  width: 200px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.studWalefare-Main {
  background-color: rgb(148 163 184) !important;
}
.dentistOne {
  border-color: rgb(71 85 105) !important;
}
