.acdemicsBg{
    background-image:
    url('../../assets//images/academics/Bg.png');
    background-color: #800000;
    width: 100%;
    background-size: cover;
    background-position: center;


}

.academicStyle{
    background-image:
    url('../../assets//images/academics/academicsabnner.png');
    height: 50vh;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 20px;
}