.bgImg {
  background-image: url("../../assets/images/academics/academicquality/academicQualitybg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-clip: content-box;
  width: 100%;
  height: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.cardOne {
  width: 200px;
  /*height: auto;*/
  background-image: url("../../assets/images/academics/academicquality/cardBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 4rem; */
}
.studName {
  color: #ffd900;
  padding-bottom: 6px;
}
