.ormedBanner{
    background-image: url("../../assets/images/departormedrad/ormedbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgDepartMent{
    background-image: url("https://res.cloudinary.com/ddaalka6i/image/upload/v1679721350/Acdemic%20PAge/Department%20Comp/BackGround_1_dn9brg.png");
    background-repeat: no-repeat;
    background-size: cover;

}


