.about-section {
  background-image: url("../../assets//images/aboutimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 4%;
}

.about-headline {
  font-size: 2rem;
  padding-bottom: 5px;
  text-decoration: underline;
  text-underline-offset: 8px;
  margin-bottom: 5%;
}

.about-box {
  margin: 3% 0;
}

.labs {
  width: 100%;
  padding: 0 20%;
}

.about-img {
  width: 10rem;
  height: 10rem;
  margin: auto;
  display: block;
}

.about-headline2 {
  font-size: 1.5rem;
  font-family: "Domine";
  font-style: normal;
  font-weight: 700;
  line-height: 35px;

  text-align: center;
  text-transform: uppercase;

  color: #ffd900;
}

.cards {
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

.card {
  /* margin: 3%; */
  padding: 2%;
  padding-top: 3%;
  margin-bottom: 3%;
  border-radius: 0;
  border: #ffd900 solid 3px;
  max-width: 30rem;
  max-height: 15rem;
}

#card1 {
  background-image: url("../../assets/images/campus.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#card2 {
  background-image: url("../../assets/images/hostel.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#card3 {
  background-image: url("../../assets/images/library.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-icon {
  width: 7rem;
  height: 7rem;
  display: block;
  margin: auto;
}

.about-card-title {
  margin-top: -1rem;
  margin-bottom: 3.8rem;
  font-size: 1.6rem;
  font-family: "Domine";
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.infocard {
  width: 80%;
  min-height: 16rem;
  margin-top: -4rem !important;
  margin-bottom: 5% !important;
  padding: 8%;
  display: block;
  margin: auto;
  position: relative;
  background: rgba(255, 217, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  font-family: "Domine";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
