.carosuel {
  background-color: #800000;
  padding: 1%;
  height: 100vh;
}

.carosuel-bg {
  background-image: url("https://res.cloudinary.com/ddaalka6i/image/upload/v1679145925/buil_1_afzg2u.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  padding: 3%;
  height: 100%;

  border: #800000 solid 20px;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.collageImg1{
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
  width: 100%;
}

.collageImg2{
  clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
  width: 100%;
}

.collageImg3{
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
}