.header {
  padding: 1%;
  max-height: 15vh;
}

.header-img {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.header-search {
  border: #800000e5 solid;
  border-width: 2px;
  border-radius: 5px;
  min-width: 30rem;
  max-height: 4.9vh;
  padding: 2%;
  margin-right: 2%;
}

.header-btn {
  background: #800000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: auto;
  color: white;
  width: 10rem;
  height: 5vh;
}

.header-btn2 {
  background: #800000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  color: white;
  width: 15rem;
  height: 5vh;
  margin-left: 15%;
}
