#scroll-container {
    /*border: 3px solid black;*/

    /*height: 100px;*/
    overflow: hidden;
}
#scroll-text {
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateY(20%);
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
    }
    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

#weird-bder::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 5px;
        width: 40%;
        border-top: 3px solid #00205B;
}

#weird-bder::after{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0;
        height: 15px;
        width: 20%;
        border-bottom: 3px solid #00205B;
}

#borderLeft::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 5px;
    width: 40%;
    border-top: 3px solid #00205B;
}

#borderLeft::after{
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    height: 15px;
    width: 20%;
    border-bottom: 3px solid #00205B;
}



.product-container {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.pre-btn,
.next-btn {
    border: none;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(161, 42, 42, 0);
}

.next-btn {
    right: 0;
}

.next-btn p,
.pre-btn p {
    font-size: 50px;
    cursor: pointer;
}





