.bgImgOne {
  background-image: url("./../../assets/images/backgroundimg1.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  width: 400px;
}
.bgImgTwo {
  background-image: url("./../../assets/images/backgroundimg2.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  width: 400px;
}
.bgImgThree {
  background-image: url("./../../assets/images/backgroundimg3.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  width: 400px;
}
.bgImgFour {
  background-image: url("./../../assets/images/bgImgFour.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  width: 400px;
}
.bgImgFive {
  background-image: url("./../../assets/images/bgImgFive.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  width: 400px;
}
.bgImgSix {
  background-image: url("./../../assets/images/bgImgSix.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  width: 400px;
}

.btn-one {
  width: fit-content;
}
