#backImage {
  background-image: url("https://res.cloudinary.com/ddaalka6i/image/upload/v1679201870/34_wyetos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about_title {
  background: rgba(0, 32, 91, 0.68);
  backdrop-filter: blur(5px);
}
