.VisionMission{
    background-color: #800000E5;
    padding: 3%;
    height: 64rem;
}


.VisionMission-img{
  height: 52rem;
  padding-top: 8rem;
}

.circle-img{
    background-color: #fff;
    border-radius: 100%;
    width: max-content;
    padding: 8%;
    border: solid #FFD900;
    position: relative;
    top: -42%;
    left: 14rem;
   margin-bottom: 15%;
}

.VisionMissionContent {
    text-align: left !important;
    padding: 8%;
  }
  
  .vision-title {
    font-family: "Domine";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.08em;
    padding-bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #ffd900;
    margin-bottom: 3%;
  }
  
  .vision-discription {
    font-family: "Domine";
    font-weight: 400;
    /*font-size: 1.2rem;*/
    color: #ffffff;
    letter-spacing: 0.025em
  }
  
  .mission-title{
    font-family: "Domine";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.08em;
    padding-bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #ffd900;
    margin: 3% 0;
  }

@media only screen and (max-width: 767px){
    .VisionMission{
        height: auto;
    }

    .VisionMission-imgs{
      margin-bottom: -16rem;
      display: none;
    }

    .circle-img{
      top: -50%;
    }

    .vision-title, .mission-title{
      text-align: center;
    }
    
}